<h3 class="col-12 text-center">Timesheet For Approval</h3>
<div class="container-fluid">
  <div class="row " style="height: 90px;">

    <div class="input-group mt-5 justify-content-end">
      <div class="input-group-append" style="display: flex">


        <!-- Week Selection Dropdown -->
        <select class="custom-select weekDropDown" (change)="onWeekSelect($event)">
          <option hidden>Select Week</option>
          <option *ngFor="let week of weeksDropdown" [value]="week.weekNumber">
            {{ week.startDate }} - {{ week.endDate }}
          </option>
        </select>

        <!-- Project Selection Dropdown -->
        <!-- <select class="custom-select project">
  <option disabled selected hidden>Select Project</option>
  <option *ngFor="let account of accounts" [value]="account.accountId">{{ account.accountName }}</option>
 </select>
   <select class="custom-select project" (change)="onProjectSelect($event)">
    <option disabled selected hidden>Select Project</option>
    <option *ngFor="let project of projects" [value]="project.accountProjectId">{{ project.projectName }}</option>
   </select> -->
        <!-- <select class="custom-select account" [(ngModel)]="selectedAccount" (change)="onAccountSelect()">
    <option disabled selected hidden>Select Account</option>
    <option *ngFor="let account of accounts" [value]="account.accountId">{{ account.accountName }}</option>
  </select>

  <select class="custom-select project">
    <option disabled selected hidden>Select Project</option>
    <option *ngFor="let project of projects" [value]="project.accountProjectId">{{ project.projectName }}</option>
  </select> -->

        <!-- <select class="custom-select account" [(ngModel)]="selectedAccount" (change)="onAccountSelect()">
    <option disabled selected hidden>Select Account</option>
    <option *ngFor="let account of accounts" [value]="account.accountId">{{ account.accountName }}</option>
  </select> -->
        <select class="custom-select account" [(ngModel)]="selectedAccount" (change)="onAccountSelect()">
          <!-- Placeholder option -->
          <option disabled [selected]="true" [hidden]="true">Select Account</option>

          <!-- Loop through accounts and create options -->
          <option *ngFor="let account of accounts" [value]="account.accountId">{{ account.accountName }}</option>
        </select>


        <select class="custom-select project" (change)="onProjectSelect($event)">
          <option disabled selected hidden>Select Project</option>
          <option *ngFor="let project of projects" [value]="project.accountProjectId">{{ project.projectName }}</option>
        </select>



        <!-- <select name="project" class="form-control" >
        <option  *ngFor="let project of projects" value="{{project.accountProjectId">{{ project.projectName }}</option>
      </select> -->



      </div>
    </div>

    <div>


    </div>


    <table class="table mt-5">
      <thead>
        <tr class="table-dark">
          <th class="text-center">Employee Code</th>
          <th class="text-center">Employee Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Project</th>
          <!-- <th>Task</th> -->
          <th class="text-center">Billing Hour</th>
          <th class="text-center">Non Billing Hour</th>
          <th class="text-center">leaves</th>

          <th class="text-center">status</th>
          <th class="text-center">view Timesheet</th>
          <!-- <th>Approve</th>
        <th>Reject</th> -->
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let c of weekTimeSheet">
          <td>{{c.employeeCode}}</td>
          <td>{{c.fullName}}</td>
          <td>{{c.email}}</td>
          <td>{{c.projectName}}</td>
          <td>{{c.totalBillingHours}}</td>
          <!-- <td>{{c.priority}}</td> -->
          <td>{{c.totalNonBillingHours}}</td>

          <!-- <td>{{c.uuid}}</td> -->
          <td>{{c.totalLeaveHours}}</td>
          <!-- <td>{{c.timesheetStatus}}</td> -->
          <td class="{{c.timesheetStatus}}">{{ c.timesheetStatus}}</td>


          <!-- <td>{{c.projectStatus}}</td> -->
          <!-- <td>
        Add Remove button for each row
            <i class="fa-regular fa-pen-to-square fa-fw" ></i>
            <i class="fa-solid fa-trash-can fa-fw" style="color: red; cursor: pointer;" (click)="deleteProject(c.accountProjectId)"></i>


          </td> -->
          <td>
            <button class="btn" (click)="goToView(weekTimeSheet)">View</button>
          </td>
          <!-- <td>
            <button  routerLink="/DailyStatusComponent">View</button>
          </td> -->
        </tr>

      </tbody>
    </table>
  </div>