.table td {
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.table1
{
  background-color: blue;
}
.row1>th
{
background-color: rgb(229, 233, 234);
}
.attencence{
  margin-top: 3px;
}

.container{
  position:absolute;
  top: 20%;
  left: 23%;
  width: 75%;
  border: 1px solid black;
}
