<div class="container-fluid">

  <div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Employee-Name</th>
        <th>Billing-Hour</th>
        <th>Non-Billing-Hour</th>
        <th>leaves</th>
        <th>status</th>
        <th>Approve..?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>madhura</td>
        <td>10</td>
        <td>2</td>
        <td>0</td>
        <td>waiting</td>
        <td>
          <button type="button" class="btn btn-primary">Approve</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
