<!-- <div class="container-fluid mt-4">
    <h1 class="text-center mb-3 employecolor " style="font-size: 32px ; font-family: Arial, Helvetica, sans-serif;">Holiday Details</h1>
    <form class="formborderbox round round-3 p-4 mt-3" [formGroup]="holidayForm" (ngSubmit)="SendHoliday(holidayForm.value)">
  
  
        <div class="col mb-3">
            <div class="col-md-9 mb-8">
                <label for="holidayDate" class="form-label">Date<span style=color:red>*</span></label>
                <input type="datetime-local" class="form-control" id="holidayDate" placeholder="Enter your holidayDate" [(ngModel)]="holiday.holidayDate" name="holidayDate">
  
            </div>
            <div class="col-md-9 mb-8">
                <label for="holidayDay" class="form-label">Day</label>
                <input type="text" class="form-control" id="holidayDay" placeholder="Enter your holidayDay" [(ngModel)]="holiday.holidayDay" name="holidayDay">
  
            </div>
            <div class="col-md-9 mb-8">
                <label for="holidayName" class="form-label">Holiday Name<span style=color:red>*</span></label>
                <input type="text" class="form-control" id="holidayName" placeholder="Enter your Holiday name" [(ngModel)]="holiday.holidayName" name="holidayName">
            </div>
            <div class="col-md-9 mb-8">
                <label for="description" class="form-label">Description<span style=color:red>*</span></label>
                <input type="text" class="form-control" id="description" placeholder="Enter your Description" [(ngModel)]="holiday.description" name="description">
            </div>
            <div class="col-md-9 mb-8">
                <label for="location" class="form-label">Location<span style=color:red>*</span></label>
                <input type="text" class="form-control" id="location" placeholder="Enter holiday location" [(ngModel)]="holiday.location" name="location">
            </div>
            <div class="col-md-2 mb-5">
                <button type="submit" class="btn btnbg">Submit</button>
            </div>
  
        </div>
        </form>
        </div> -->
        
  
