      <!-- <div class="container">
        <h1 class="text-center mb-4">Employee Details</h1>

        <div class="row mb-3">
          <div class="col-md-8 offset-md-2 text-center">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search for...">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="searchEmployees()" style="background-color: rgb(13,110,253); color: black;">
                  <i class="fas fa-search"></i> Search
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2 text-right">
            <button type="button" class="btn btn-primary" (click)="navigateToAddEmployeePage()">
              <i class="fas fa-plus-circle"></i> Add
            </button>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Employee Id</th>
              <th>Employee Code</th>
              <th>Name</th>
              <th>Designation</th>
              <th>Email</th>
              <th>Reporting Manager </th>
              <th>Status</th>
              <th>Modify</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of filteredEmployees">
              <td>{{ employee.employeeId }}</td>
              <td>{{ employee.employeeCode }}</td>
              <td>{{ employee.firstName }}</td>
              <td>{{ employee.designation }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.reportingManagerId }}</td>
              <td>{{ employee.status }}</td>
              <td>
                <button type="button" class="btn btn-info" (click)="editEmployee(employee)">
                  <i class="fas fa-edit"></i> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
