
<div class="container-fluid mt-3" style="width: 100%" id="con">
  <div class="row" style="width: 100%">
    <!-- <div class="d-flex justify-content-center"> -->
    <!--    
      <div class="col-md-2 mb-3 me-3">
        
      </div> -->
    <!-- </div> -->

    <table class="table table-borderedless mt-2 b">
      <thead class="table-borderless">
        <tr class="table-head">
          <th colspan="14">
            <div class="mt-3 d-flex">
              <div
                class="col-md-4 d-flex justify-content-between"
                style="margin-left: 2% ; font-family: Arial, Helvetica, sans-serif;
                font-size: small;"
              >
                <select
                  style="
                    margin-right: 2px;
                    width: 131px;
                    font-size: 14px;
                    height: 38px;
                    font-family: Arial, Helvetica, sans-serif;
          font-size: small;
                  "
                  id="account"
                  (change)="OnSelectAccount($event)"
                  (change)="loadTimesheetData()"
                  class="sel-drop"
                >
                  <option value="" selected disabled style="font-size: 14px">
                    Select account
                  </option>
                  <option
                    *ngFor="let acc of accounts"
                    value="{{ acc.accountId }}"
                    style="font-size: 14px"
                  >
                    {{ acc.accountName }}
                  </option>
                </select>

                <button
                  class="btn btn-outline-primary"
                  style="margin-right: 5px; margin-left: 5px;  font-family: Arial, Helvetica, sans-serif;
                  font-size: small"
                  (click)="showPreviousWeek()"
                >
                  <i class="fa-solid fa-angle-left"></i>
                </button>
                <button
                  class="btn btn-outline-primary"
                  style="margin-right: 5px;  font-family: Arial, Helvetica, sans-serif;
                  font-size: small"
                  (click)="calculateCurrentWeek()"
                >
                  Current
                </button>

                <button
                  class="btn btn-outline-primary"
                  (click)="showNextWeek()"
                >
                  <i class="fa-solid fa-angle-right"></i>
                </button>
              </div>
              <div class="col-md-5 d-flex justify-content-center">
                <h6
                  style="
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 25px;
                    font-weight: lighter;
                  "
                >
                  {{ startDate }} To {{ lastDate }}
                </h6>
              </div>
              <div class="col-md-3 d-flex text-end" style="padding-left: 20% ; font-family: Arial, Helvetica, sans-serif;
              font-size: 25px">
                <button
                   
                  class="btn float-lg-end"
                  (click)="addTaskRow()"
                  style="
                    border-radius: 50%;
                    background-color: rgb(164, 164, 236);
                    border-color: rgb(164, 164, 236);
                  "
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="row1" style="text-align: center">
          <th
            style="
              width: 10%;
              font-family: Arial, Helvetica, sans-serif;
              font-size: small;
            "
          >
            Project
          </th>
          <th
            style="
              width: 5%;
              font-family: Arial, Helvetica, sans-serif;
              font-size: small;
            "
          >
            TaskType
          </th>
          <th
            style="
              width: 10%;
              font-family: Arial, Helvetica, sans-serif;
              font-size: small;
            "
          >
            Task
          </th>
          <th
            style="
              width: 10%;
              font-family: Arial, Helvetica, sans-serif;
              font-size: small;
            "
          >
            Atendance Type
          </th>
          <th
            *ngFor="let day of currentWeek"
            style="font-family: Arial, Helvetica, sans-serif; font-size: small"
          >
            {{ day.startDate }}
          </th>
          <th
            style="font-family: Arial, Helvetica, sans-serif; font-size: small"
          >
            Total
          </th>
          <th
            style="
              width: 5%;
              font-family: Arial, Helvetica, sans-serif;
              font-size: small;
            "
          >
            Action
          </th>
        </tr>
        <tr *ngFor="let details of fetchedDetails; let j = index">
          <!-- Edit mode form controls -->
          <!-- <td>
              <select id="project_{{j}}" name="project_{{j}}" class="form-control"  (change)="onSelect(details.accountId, j)"  [(ngModel)]="details.project">
           <option [value]="details.project">{{details.projectName}}</option>
                <option *ngFor="let pro of projects" value="{{ pro.accountProjectId }}">{{ pro.projectName }}</option>
              </select>
            </td>
            <td>
              <select
                id="tasktype_{{j}}"
                name="tasktype_{{j}}"
                class="form-control"
                (change)="onSelectTaskType(details.projectId, j)"
                [(ngModel)]="details.taskTypeName"
              >
                <option  [value]="details.taskTypeName">{{details.taskTypeName}}</option>
                <option
                  *ngFor="let tasktype of projectTaskType[j]"
                  value="{{ tasktype.taskTypeId }}"
                >
                  {{ tasktype.taskType }}
                </option>
              </select>
            </td>
            <td>
              <select
                class="form-control"
                [(ngModel)]="details.taskName"
                id="task_{{ j }}"
                name="task_{{ j }}"
                (change)="onSelectingTask($event, j)"
              >
                <option [value]=" details.taskName " >{{details.taskName}}</option>
  
                <option
                  *ngFor="let task of projectTask[j]"
                  value="{{ task.taskId }}"
                >
                  {{ task.task }}
                </option>
              </select>
            </td> -->
          <!-- <td>
              <select
                class="form-control"
                [(ngModel)]="details.attendanceTypeName"
                id="attendance_{{ j }}"
                (change)="onselectAttendanceType($event, j)"
              >
                <option [value]="details.attendanceTypeName">{{details.attendanceTypeName}}</option>
                <option
                  *ngFor="let bil of attendanceTypeArr"
                  value="{{ bil.referenceDetailId }}"
                >
                  {{ bil.referenceDetailValue }}
                </option>
              </select>
            </td> -->
          <!-- Other form controls for editing -->
          <td class="text-center">{{ details.projectName }}</td>
          <td class="text-center">{{ details.taskTypeName }}</td>
          <td class="text-center">{{ details.taskName }}</td>
          <td class="text-center">{{ details.attendanceTypeName }}</td>

          <td class="text-center" id="data_{{ j }}4">
            <input
              class="form-control"
              [value]="details.hoursMon"
              (click)="onEditMode(j, details)"
              (change)="geteditedHoursMon($event, j)"
              style="width: 65px; text-align: center"
            />
          </td>

          <td class="text-center" id="data_{{ j }}5">
            <input
              class="form-control"
              [value]="details.hoursTue"
              (click)="onEditMode(j, details)"
              (change)="geteditedHoursTue($event, j)"
              style="width: 65px; text-align: center"
            />
          </td>
          <td class="text-center" id="data_{{ j }}6">
            <input
              class="form-control"
              [value]="details.hoursWed"
              (click)="onEditMode(j, details)"
              (change)="geteditedHoursWed($event, j)"
              style="width: 65px; text-align: center"
            />
          </td>
          <td class="text-center" id="data_{{ j }}7">
            <input
              class="form-control"
              [value]="details.hoursThu"
              (click)="onEditMode(j, details)"
              (change)="geteditedHoursThu($event, j)"
              style="width: 65px; text-align: center"
            />
          </td>
          <td class="text-center" id="data_{{ j }}8">
            <input
              class="form-control"
              [value]="details.hoursFri"
              (click)="onEditMode(j, details)"
              (change)="geteditedHoursFri($event, j)"
              style="width: 65px; text-align: center"
            />
          </td>
          <td class="text-center" id="data_{{ j }}9">
            <input
              class="form-control"
              [value]="details.hoursSat"
              readonly
              style="width: 65px"
            />
          </td>
          <td class="text-center" id="data_{{ j }}10">
            <input
              class="form-control"
              [value]="details.hoursSun"
              readonly
              style="width: 65px"
            />
          </td>
          <td class="text-center" id="data_{{ j }}11">{{ newrowTotal[j] }}</td>

          <td>
            <button class="btn btn remove-button btn-sm">
              <i
                class="fa-solid fa-trash"
                style="color: red"
                (click)="deleteselected(j)"
              >
              </i>
            </button>
          </td>
        </tr>

        <tr *ngFor="let task of tasks; let i = index">
          <td>
            <select
              style=" font-family: Arial, Helvetica, sans-serif;
              font-size: small"
              id="project_{{ i }}"
              name="project_{{ i }}"
              class="sel-drop"
              (change)="onSelect($event, i)"
              [(ngModel)]="task.project"
            >
              <option value="" selected disabled style=" font-family: Arial, Helvetica, sans-serif;
              font-size: small">
                Select project
              </option>
              <option
                style=" font-family: Arial, Helvetica, sans-serif;
                font-size: small"
                *ngFor="let pro of projects"
                value="{{ pro.accountProjectId }}"
              >
                {{ pro.projectName }}
              </option>
            </select>
          </td>
          <td>
            <select
              style=" font-family: Arial, Helvetica, sans-serif;
              font-size: small"
              id="tasktype_{{ i }}"
              name="tasktype_{{ i }}"
              class="sel-drop"
              (change)="onSelectTaskType($event, i)"
              [(ngModel)]="task.taskType"
            >
              <option value="" selected disabled style=" font-family: Arial, Helvetica, sans-serif;
              font-size: small">
                Select Type
              </option>
              <option
                style=" font-family: Arial, Helvetica, sans-serif;
                font-size: small"
                *ngFor="let tasktype of projectTaskType[i]"
                value="{{ tasktype.taskTypeId }}"
              >
                {{ tasktype.taskType }}
              </option>
            </select>
          </td>
          <td>
            <select
              style=" font-family: Arial, Helvetica, sans-serif;
              font-size: small"
              class="sel-drop"
              [(ngModel)]="task.task"
              id="task_{{ i }}"
              name="task_{{ i }}"
              (change)="onSelectingTask($event, i)"
            >
              <option value="" selected disabled style="font-size: 14px">
                Select Task
              </option>

              <option
                *ngFor="let task of projectTask[i]"
                value="{{ task.taskId }}"
                style=" font-family: Arial, Helvetica, sans-serif;
                font-size: small"
              >
                {{ task.task }}
              </option>
            </select>
          </td>
          <td>
            <select
              style="font-family: Arial, Helvetica, sans-serif;
              font-size: small"
              class="sel-drop"
              [(ngModel)]="task.attendanceType"
              id="attendance_{{ i }}"
              (change)="onselectAttendanceType($event, i)"
            >
              <option value="" selected disabled style=" font-family: Arial, Helvetica, sans-serif;
              font-size: small">
                Attendance Type
              </option>
              <option
                style=" font-family: Arial, Helvetica, sans-serif;
                font-size: small"
                *ngFor="let bil of attendanceTypeArr"
                value="{{ bil.referenceDetailId }}"
              >
                {{ bil.referenceDetailValue }}
              </option>
            </select>
          </td>
          <td>
            <input
              class="form-control"
              id="input_{{ i }}0"
              value="0"
              (change)="columnsum()"
              style="width: 65px; text-align: center; font-family: Arial, Helvetica, sans-serif;
              font-size: small"
            />
          </td>
          <td>
            <input
              class="form-control"
              id="input_{{ i }}1"
              value="0"
              (change)="columnsum()"
              style="width: 65px; text-align: center; font-family: Arial, Helvetica, sans-serif;
              font-size: small"
            />
          </td>

          <td>
            <input
              class="form-control"
              id="input_{{ i }}2"
              value="0"
              (change)="columnsum()"
              style="width: 65px; text-align: center"
            />
          </td>
          <td>
            <input
              class="form-control"
              id="input_{{ i }}3"
              value="0"
              (change)="columnsum()"
              style="width: 65px; text-align: center"
            />
          </td>
          <td>
            <input
              class="form-control"
              id="input_{{ i }}4"
              value="0"
              (change)="columnsum()"
              style="width: 55px; text-align: center"
            />
          </td>
          <td>
            <input
              class="form-control"
              id="input_{{ i }}5"
              value="0"
              (change)="columnsum()"
              style="width: 65px"
            />
          </td>
          <td>
            <input
              class="form-control"
              id="input_{{ i }}6"
              value="0"
              readonly
              (change)="columnsum()"
              style="width: 65px"
            />
          </td>
          <td>
            <input
              class="form-control"
              id="input_{{ i }}7"
              value="0"
              readonly
              (change)="columnsum()"
              style="width: 65px; font-family: Arial, Helvetica, sans-serif;
              font-size: small"
              readonly
            />
          </td>

          <td>
            <i
              class="fa-solid fa-trash-can fa-fw"
              style="color: red"
              (click)="removeTask(i)"
            ></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td  colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif;
          font-size: small;">Total</td>
          <td
            *ngFor="let total of totalvalue; let j = index"
            style="text-align: center ; font-family: Arial, Helvetica, sans-serif;
            font-size: small;"
          >
            {{ totalvalue[j] }}
          </td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="row mt-4" style="display: flex; width: auto">
    <div class="col-md-9">
      <textarea
        id="comments"
        (change)="getComment($event)"
        placeholder="Comment"
        style=" font-family: Arial, Helvetica, sans-serif;
        font-size: small"
      ></textarea>
    </div>

    <div class="col-md-3 text-end">
      <button
        [disabled]="!saveAndSubmit"
        type="button"
        class="btn btn-primary"
        (click)="saveWeekTableData()"
        style="
          font-size: medium;
          background-color: rgb(164, 164, 236);
          border-color: rgb(164, 164, 236);
          margin-right: 10px;
        "
      >
        Save
      </button>
      <button
        type="submit"
        [disabled]="!saveAndSubmit"
        class="btn btn-primary me-3"
        style="
          font-size: medium;
          background-color: rgb(164, 164, 236);
          border-color: rgb(164, 164, 236);
        "
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
