<div class="container-fluid ">

  <h1 class="text-center p-3 mb-3 holidaycalendor"> All Holidays</h1>

  <table class="tablebox table-borderless " style="border-collapse: collapse; ">

    <tr class="rows   head">
      <th class="  text-center table-borderless ">Date</th>
      <th class=" text-center table-borderless">Holiday Name</th>
      <th class="  text-center table-borderless">Week Of The Day</th>
    </tr>
    <tr *ngFor="let holiday of holidays " class="rows">

      <td class="text1">{{holiday.holidayDate|date:'dd-MMM-yyyy'}}</td>
      <td class="text1">{{holiday.holidayName}}</td>
      <td class="text1">{{holiday.holidayDay}}</td>

    </tr>
  </table>
  <!-- <router-outlet></router-outlet> -->
</div>
