<div class="container-fluid">
  <div class="input-group mt-5 justify-content-end">
    <div class="input-group-append" style="display: flex">
      <select class="form-select">
        <option hidden>select</option>
        <option>year</option>
        <option>month</option>

      </select>


      <button class="btn btn-primary">Search</button>
    </div>
  </div>
  <!-- <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div> -->
  <div>
    <div class="table-responsive">
      <table class="table mt-5 custom-table table-borderless table-hover table-striped">
        <tbody>
          <tr class="custom-row col-4">
            <td><a href="">12 Feb 2024 -18 Feb 2024</a></td>
            <td class="text-center">
              Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">
              Non-Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">
              Leave
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">
              status
              <div class="number text-center text-muted">approved</div>
            </td>
          </tr>
          <tr class="custom-row col-2">
            <td><a href="">12 Feb 2024 -18 Feb 2024</a></td>
            <td class="text-center">
              Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">
              Non-Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">
              Leave
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">
              status
              <div class="number text-center text-muted">Pending</div>
            </td>
          </tr>
          <tr class="custom-row col-2">
            <td><a href="">27 Feb 2024-5 Mar 2024</a></td>
            <td class="text-center">
              Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">
              Non-Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">
              Leave
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">
              status
              <div class="number text-center text-muted">Rejected</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
